@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap");

* {
  font-family: "Playfair Display", serif !important;
  /* background-color: #fdeced !important; */
  color: #4e4d4b;
}

a:hover {
  color: #4e4d4b;
}

h2 > a > img {
  width: 250px;
  height: auto;
}

.card {
  transition: all 0.5s ease;
  cursor: pointer;
  box-shadow: 0px 0px 6px -4px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  background-color: #fdeced !important;
}

.card:hover {
  box-shadow: 0px 0px 51px -36px rgba(0, 0, 0, 0.1);
}
